{% extends 'base.html' %}

{% block content %}



{% for message in messages %}
    <div class="message {{message.tags}}">
        {{message}}
    </div>
{% endfor %}
<div class="center-content">  
    <h2>Nofications</h2>
    {%csrf_token%}
    
    <div class="messages-container">
        <div class="message-display">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita non dolores iste eaque, cum a blanditiis explicabo repellat laudantium, nesciunt doloremque fugiat voluptatibus nisi! Eum ratione libero sunt illo adipisci.</p>
            <div class="second-div">
                <h5>2022-01-01 12:00:00</h5>
                {% if action_required %}
                    <a href="{{action_todo}}">{{action_text}}</a>
                {% endif %}
            </div>
        </div>
    </div>        
</div>



{% endblock content %}