{% extends 'base.html' %} {% load static %} {% block css %}
   <link rel="stylesheet" href="{% static 'stylesheets/userpagestyles/referrals.css' %}" />
{% endblock css %} 

{% block content %}

   <!-- pagecontent -->
   <section class="content-wrapper">
      <section class="maincontentsection">

         <!-- Menu  -->
         {% include '../../sidebar.html' %}

         <!-- Notifications -->
         {% include '../../notifications.html' %}

         <!-- Forum & Discussions -->
         <div class="forumcontainer">
            <h1>Forum & Discussions</h1> 

         <div class="chatcontainer">
            <div class="chatsection">

               <div class="chat">
                  <img src="{% static '/assets/images/stud.webp' %}" alt="" srcset="">
                  
                  <article>
                  <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                     Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                     Cum, doloremque.Illo ad quasi repellendus laborum.</span>  
                     
                     <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
                  </article>
               </div>
               <div class="chat">
                  <img src="{% static '/assets/images/stud.webp' %}" alt="" srcset="">
                  
                  <article>
                  <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                     Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                     Cum, doloremque.Illo ad quasi repellendus laborum.</span>  
                     
                     <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
                  </article>
               </div>
               <div class="chat">
                  <img src="{% static '/assets/images/stud.webp' %}" alt="" srcset="">
                  
                  <article>
                  <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                     Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                     Cum, doloremque.Illo ad quasi repellendus laborum.</span>  
                     
                     <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
                  </article>
               </div>
               
               
               <div class="challenge">
                  <img src="{% static '/assets/images/stud.webp' %}" alt="" srcset="">
                  
                  <article>
                     <span>
                        Please join my challenge and stand the chance of winning the prize money
                     </span> 
                     
                     <a id="challengelink" href="#">Join Challenge</a>
                     
                     <span id="chattime"><i class="material-symbols-rounded">schedule</i>20 mins ago</span>
                  </article>
               </div>
               
               <div class="chat">
                  <img src="{% static '/assets/images/stud.webp' %}" alt="" srcset="">
                     
                     <article>
                     <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                        Cum, doloremque.Illo ad quasi repellendus laborum.Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                        Cum, doloremque.Illo ad quasi repellendus laborum.</span>  
                     
                        <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
                     </article>
               </div>
            </div>

            <div class="composesection">
               <section id="composemessage">
                  <div id="togglechallenge"><i class="material-symbols-rounded">trophy</i></div>
                  <div><textarea name="" id="" placeholder="Type Your Message"></textarea></div>
                  <div><i class="material-symbols-rounded">send</i></div>
               </section>

               <section id="composechallenge">
                     <input type="text" placeholder="Paste the challenge link here">
                     <div>
                     <button><i class="material-symbols-rounded">send</i> Post Challenge</button>
                     <button id="cancelchallenge"><i class="material-symbols-rounded">delete</i> Cancel</button>
                  </div>
               </section>
            </div>

         </div>
      </div>

         <!-- Referral Content -->
            <div class="refsholder">
               <section id="first-section">
                     <div class="hint">
                        <span>Total Referrals</span>
                        <span>{{refData.tr}}</span>
                        <span>Amount Generated</span>
                        <span>GH₵ {{wBalance}}</span>
                     </div>
                     <div class="hint">
                        <span>Direct Referrals</span>
                        <span>{{refData.pr}}</span>
                        <span>Amount Generated</span>
                        <span>GH₵ {{dram}}</span>
                  </div>
                  <div class="hint">
                     <span>Indirect Referrals</span>
                     <span>{{refData.ir}}</span>
                     <span>Amount Generated</span>
                     <span>GH₵ {{inram}}</span>
               </div>
               </section>

               <section id="second-section">
                     <div>
                        <article>
                           <i class="material-symbols-rounded">content_paste</i>
                           <span id="ref-link">{{refLink}}</span>
                        </article>
                        <button id="btn-copy"><i class="material-symbols-rounded">content_copy</i>Copy Referral Link</button>
                     </div>
               </section>
               
               <section id="third-section">
                     <h1>Referral Breakdown Table</h1>

                     <!-- <div class="querysearchsection">
                        <section id="query">
                              <span>Set Query Limit : </span>
                              <select name="" id="">
                                 <option value="100">100</option>
                                 <option value="200">200</option>
                                 <option value="500">500</option>
                                 <option value="1000">1000</option>
                                 <option value="nolimit">No Limit</option>
                              </select>
                           </section> 

                           <section id="search">
                              <span>Specify Query : </span>
                              <input type="text" name="" id="">
                              <button>Search</button>
                           </section>
                     </div> -->

                     <table id="reftable" style="margin-top: 5px;">
                        <thead>
                           <th>User Description</th>
                           <th>Referral Type</th>
                           <th>Amount Earned (GH₵)</th>
                           <th>Date</th>
                        </thead>
                        <tbody>
                           {% for history in refHistory %}
                           <tr>
                              <td class="userprofile">
                                 <div>
                                 <img src="{% static '/assets/images/M ref.png' %}" alt="" srcset="">
                                 <span>{{history.ref}}</span>
                                 </div>
                              </td>
                              <td>{{history.relationship}}</td>
                              <td>{{history.points_earned}}</td>
                              <td>{{history.date}}</td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
               </section>
            </div>

      </section>   
   </section>


   <!-- LogOut Popup -->
   <section class="logoutpopup">
      <section id="logoutholder">
         <span>LogOut</span>
         <span>Do You Really Want to Log Out ?</span>
         <div>
            <button id="confirmlogoutbtn">Confirm</button>
            <button id="cancellogoutbtn">Cancel</button>
         </div>
      </section>
   </section>


   <!-- pagefooter -->
   {% include '../../footer.html' %}
   
   <script src="{% static '/javascripts/userpagejs/generalscript.js' %}"></script>
   <script src="{% static '/javascripts/userpagejs/referals.js' %}"></script>
{% endblock content %}