{% extends 'base.html' %} {% load static %} {% block css %}
   <link rel="stylesheet" href="{% static 'stylesheets/userpagestyles/walletandtransaction.css' %}" />
{% endblock css %}
    

{% block content %}
   <!-- pagecontent -->
   <section class="content-wrapper">
   <section class="maincontentsection">

   <!-- Menu  -->
   {% include '../../sidebar.html' %}

   <!-- Notifications -->
   {% include '../../notifications.html' %}

   <!-- Forum & Discussions -->
   <div class="forumcontainer">
   <h1>Forum & Discussions</h1> 

   <div class="chatcontainer">
   <div class="chatsection">

   <div class="chat">
   <img src="{% static '/assets/images/stud.webp' %}" alt="" srcset="">

   <article>
   <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
   Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
   Cum, doloremque.Illo ad quasi repellendus laborum.</span>  

   <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
   </article>
   </div>
   <div class="chat">
   <img src="{% static '/assets/images/stud.webp' %}" alt="" srcset="">

   <article>
   <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
   Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
   Cum, doloremque.Illo ad quasi repellendus laborum.</span>  

   <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
   </article>
   </div>
   <div class="chat">
   <img src="{% static '/assets/images/stud.webp' %}" alt="" srcset="">

   <article>
   <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
   Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
   Cum, doloremque.Illo ad quasi repellendus laborum.</span>  

   <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
   </article>
   </div>


   <div class="challenge">
   <img src="{% static '/assets/images/stud.webp' %}" alt="" srcset="">

   <article>
   <span>
   Please join my challenge and stand the chance of winning the prize money
   </span> 

   <a id="challengelink" href="#">Join Challenge</a>

   <span id="chattime"><i class="material-symbols-rounded">schedule</i>20 mins ago</span>
   </article>
   </div>

   <div class="chat">
   <img src="{% static '/assets/images/stud.webp' %}" alt="" srcset="">

   <article>
   <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
      Cum, doloremque.Illo ad quasi repellendus laborum.Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
      Cum, doloremque.Illo ad quasi repellendus laborum.</span>  

      <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
   </article>
   </div>
   </div>

   <div class="composesection">
   <section id="composemessage">
   <div id="togglechallenge"><i class="material-symbols-rounded">trophy</i></div>
   <div><textarea name="" id="" placeholder="Type Your Message"></textarea></div>
   <div><i class="material-symbols-rounded">send</i></div>
   </section>

   <section id="composechallenge">
   <input type="text" placeholder="Paste the challenge link here">
   <div>
   <button><i class="material-symbols-rounded">send</i> Post Challenge</button>
   <button id="cancelchallenge"><i class="material-symbols-rounded">delete</i> Cancel</button>
   </div>
   </section>
   </div>

   </div>
   </div>


   <!-- Wallet & Transaction -->
   <div class="wallandtransholder">
   <section id="first-section">
   <div class="hint">
   <span class="material-symbols-rounded">account_balance_wallet</span>
   <span>{{wBalance}}</span>
   <span>Wallet Balance (GH₵)</span> 
   </div>
   <div class="hint">
   <span class="material-symbols-rounded">paid</span>
   <span>{{tEarnings}}</span>
   <span>Total Earnings (GH₵)</span>
   </div>
   <div class="hint">
   <span class="material-symbols-rounded">currency_exchange</span>
   <span>{{totalW}}</span>
   <span>Total Withdrawal (GH₵)</span>
   </div>
   </section>

   <section id="second-section">
   <div id="deposit" class="option" {% if request.user.is_premium %} style="display: none;" {% endif %}>
   <i class="material-symbols-rounded">add_circle</i>
   <span>Deposit Funds</span>
   </div>

   <div id="withdrawal" class="option" {% if not request.user.is_premium %} style="display: none;" {% endif %}>
   <i class="material-symbols-rounded">currency_exchange</i>
   <span>Withdraw Funds</span>
   </div>
   </section>
   
   {% if not error %}
   <section id="third-section">
   <h1>Transaction Breakdown Table</h1>

   <!-- <div class="querysearchsection">
   <section id="query">
   <span>Set Query Limit : </span>
   <select name="" id="">
   <option value="100">100</option>
   <option value="200">200</option>
   <option value="500">500</option>
   <option value="1000">1000</option>
   <option value="nolimit">No Limit</option>
   </select>
   </section> 

   <section id="search">
   <span>Specify Query : </span>
   <input type="text" name="" id="">
   <button>Search</button>
   </section>
   </div> -->
   <table id="reftable" style="margin-top: 5px">
   <thead>
   <th>Type</th>
   <th>Status</th>
   <th>Amount (GH₵)</th>
   <th>Reference</th>
   <th>Date</th>
   <th>Account №</th>
   </thead>
   <tbody>
      {% for x in T_history %}
   <tr>
   <td>{{x.transactionType}}</td>
   <td>{{x.transactionTypeStatus}}</td>
   <td>{{x.amount}}</td>
   <td>{{x.transactionRefrence}}</td>
   <td>{{x.date}}</td>
   <td>{{x.mobileNumber}}</td>
   </tr>
   {% endfor %}
   
   </tbody>
   </table>
</section>
{% endif %}
   </div>

   </section>
   </section>

   <!-- Deposit and Withdrawal Settings Popup -->
   <section class="depositsettingspopup">
   <section id="settingscontainer">
   <div id="settingspopupclose"><span class="material-symbols-rounded">close</span></div>
   <h1>Deposit Preferences</h1>
   <div id="content">
   <input type="hidden" name="" id="transactionType" value="">
   <span>Enter Deposit Amount</span>
   <input type="number" name="" id="transactionAmount" value="30" min="30" placeholder="Minimum amount 30">
   <span>Confirm Your Email</span>
   <input type="text" name="" id="transactionEmail" value="{{request.user.email}}">
   <span>Confirm Your Phone number</span>
   <input type="tel" name="" id="transactionNumber" placeholder="Don't use +233  eg.0299999999">
   <span>Select Network</span>
   <div class="carrier">
      <select name="" id="transactionNetwork">
         {% for x in carriers%}
            <option value="{{x.code}}">{{x.name}}</option>
         {% endfor %}
      </select>
   </div>

   <button id="initialdepositbtn">Process Deposit</button>
   </div>
   </section>
   </section>

   <section class="withdrawalsettingspopup">
   <section id="settingscontainer">
   <div id="settingspopupclose"><span class="material-symbols-rounded">close</span></div>
   <h1>Withdrawal Preferences</h1>
   <div id="content">
   <span>Enter Withdrawal Amount</span>
   <input type="number" name="" id="Wamount" placeholder="Maximum withdrawal: {{wBalance}}" min="0.1" max="{{wBalance}}">
   <!-- <span>Confirm Your Email</span>
   <input type="text" name="" id="" value="xxxxx@gmail.com"> -->
   <span>Confirm Your Phone number</span>
   <input type="tel" name="" id="Wnumber" placeholder="+233*********">
   <!-- <span>Type "WITHDRAWAL" in the box below</span>
   <input type="text" name="" id=""> -->

   <button id="initialwithdrawalbtn">Process Withdrawal</button>
   </div>
   </section>
   </section>


   <!-- LogOut Popup -->
   <section class="logoutpopup">
   <section id="logoutholder">
   <span>LogOut</span>
   <span>Do You Really Want to Log Out ?</span>
   <div>
   <button id="confirmlogoutbtn">Confirm</button>
   <button id="cancellogoutbtn">Cancel</button>
   </div>
   </section>
   </section>


   <!-- pagefooter -->
   {% include '../../footer.html' %}
   
   <script src="{% static '/javascripts/userpagejs/generalscript.js' %}"></script>
   <script src="{% static '/javascripts/userpagejs/walletantransaction.js' %}"></script>
{% endblock content %}