@import url("../../stylesheets/userpagestyles/generalstyle.css");

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.team-cont{
    width: 100%;
}
.team-header{
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    text-transform: uppercase;
    color: #1CBD07;
    font-family: "Protest Guerrilla", system-ui;
    margin: 0 0 50px 0;
}
.mem-sec-one, .mem-sec-two{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    gap: 35px;
    padding: 0 50px 50px 50px;
}
.mem1, .mem2, .mem3, .mem4, .mem5, .mem6, .mem7, .mem8 {
    
    height: 330px;
    width: 90%;
    border: 1px solid #1CBD07;
    border-radius: 10%;
    align-items: center;
}
.mem1:hover,.mem2:hover,
.mem3:hover,.mem4:hover,.mem5:hover,.mem6:hover,.mem7:hover,.mem8:hover {
    transition: transform .45s;
    transform: scale(1.1);
}
p img{
    width: 70%;
    margin: 0 0 0 13%;
}
.details{
    display: none;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    background-color: #46404010; 
    position: relative;
    font-family: "Protest Guerrilla",
    system-ui;
}
hr{
    background-color: #1CBD07;
    height: 5px;
    width: 100%;
    margin: 0 0 40px 0;
}

.mem1:hover .details{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    background-color: #00000011;
    animation: overdetails .7s ease-in-out forwards alternate;   
    
}
.mem2:hover .details {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    background-color: #46404010;
    animation: overdetails alternate forwards .7s ease-in-out;
}
.mem3:hover .details {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    background-color: #46404010;
    animation: overdetails alternate forwards .7s ease-in-out;
}
.mem4:hover .details {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    background-color: #46404010;
    animation: overdetails alternate forwards .7s ease-in-out;
}
.mem5:hover .details {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    background-color: #46404010;
    animation: overdetails .7s ease-in-out forwards alternate;
}
.mem6:hover .details {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    background-color: #46404010;
    animation: overdetails .7s ease-in-out forwards alternate;
}
.mem7:hover .details {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    background-color: #46404010;
    animation: overdetails .7s ease-in-out forwards alternate;
}
.mem8:hover .details {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    background-color: #46404010;
    animation: overdetails .7s ease-in-out forwards alternate;
}

@keyframes overdetails{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    25%{
    opacity: 0.3;    
    }
    50%{
    opacity: 0.5;    
    }
    70% {
    opacity: 0.7;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
