
@import url(/stylesheets/userpagestyles/generalstyle.css);

.userholder{
   height: 100%;
   display: flex;
   justify-content: center;
   align-content: start;
   flex-wrap: wrap;
   overflow-y: auto;
}

.userholder  section{
   display: flex;
   justify-content: space-evenly;
   margin-top: 20px;
   width: 100%;
}

.userholder  #first-section .hint{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   color: var(--primitivecolor);
   background-color: var(--primarycolor);
   width: 30%;
   margin: 1%;
   padding-block: 10px;
   border-radius: 0px 10px 10px 10px;
}

.userholder #first-section .hint span{
  width: 100%;
  text-align: center;
  margin: 10px;
}

.userholder #first-section .hint span:nth-child(1){
  font-size: 60px;
  font-weight: 600;
}

.userholder #first-section .hint span:nth-child(2){
  font-size: 80px;  
  font-family: "Protest Guerrilla", system-ui;
}
