
@import url(/stylesheets/userpagestyles/generalstyle.css);

.userholder{
   height: 100%;
   display: flex;
   justify-content: center;
   align-content: start;
   flex-wrap: wrap;
   overflow-y: auto;
}

.userholder  section{
   display: flex;
   justify-content: space-evenly;
   margin-top: 20px;
   width: 100%;
}

.userholder  #first-section .hint{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   color: var(--primitivecolor);
   background-color: var(--primarycolor);
   width: 30%;
   margin: 1%;
   padding-block: 10px;
   border-radius: 0px 10px 10px 10px;
}

.userholder #first-section .hint span{
  width: 100%;
  text-align: center;
  margin: 10px;
}

.userholder #first-section .hint span:nth-child(1){
  font-size: 60px;
  font-weight: 600;
}

.userholder #first-section .hint span:nth-child(2){
  font-size: 80px;  
  font-family: "Protest Guerrilla", system-ui;
}


.userholder #deactivation-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--primarycolor);
  color: var(--primitivecolor);
}

.userholder #deactivation-section h1{
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

.userholder #deactivation-section #deactivationtable {
  width: 100%;
  border: 5px solid var(--primitivecolor);
  border-collapse: collapse;
  margin-inline: 50px;
  margin-bottom: 40px;
}

.userholder #deactivation-section #deactivationtable :where(th) {
  border: 4px solid var(--primitivecolor);
  text-align: center;
  padding: 10px;
}

.userholder #deactivation-section #deactivationtable :where(td) {
  border: 1px solid var(--primitivecolor);
  text-align: center;
  font-size: 14px;
  padding: 10px;
}

.userholder #deactivation-section #deactivationtable :where(td) button {
  width: 180px;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 20px;
  border: 2px solid var(--primitivecolor);
  background-color: var(--primitivecolor);
  color: var(--primarycolor);
  transition: all 0.3s ease;
}

.userholder #deactivation-section #deactivationtable :where(td) button:hover {
  background-color: var(--primarycolor);
  color: var(--primitivecolor);
  border-radius: 5px;
}

