{% extends 'base.html' %} {% load static %} {% block css %}
   <link rel="stylesheet" href="{% static 'stylesheets/auxilliarypagestyles/quizpage.css' %}" />
   <link rel="stylesheet" href="{% static 'stylesheets/userpagestyles/quizpage.css' %}" />
   {% endblock css %} 

{% block content %}
   {% csrf_token %}
   <input type="hidden" id="test_data" value="{{questions_js}}" />
  <input type="hidden" id="limit" value="{{quiz.limit}}" />
   <!-- pagecontent -->
<section class="content-wrapper">
   <section class="maincontentsection">

      <!-- Menu  -->
      <div class="menucontainer">
         <div class="menu">
         <div>
            <img src="{% static 'assets/images/stud.webp' %}" alt="">
            <span id="username">{{request.user.username}}</span> 
            <span>Premium</span>
         </div>
         <div class="menubuttons">
            <a href="{% url 'user-dashboard' username=request.user.username %}"><span class="menu-btn active"><i class="material-symbols-rounded">dashboard</i>Dashboard</span></a>
            <a href="{% url 'user-referrals' username=request.user.username %}"><span class="menu-btn"><i class="material-symbols-rounded">group</i>Referrals</span></a>
            <a href="{% url 'user-quiz' username=request.user.username %}"><span class="menu-btn"><i class="material-symbols-rounded">quiz</i>Take A Quiz</span></a>
            <a href="../challenge/"><span class="menu-btn"><i class="material-symbols-rounded">trophy</i>Challenge</span></a>
            <a href="{% url 'user-wallet' username=request.user.username %}"><span class="menu-btn"><i class="material-symbols-rounded">paid</i>Wallet & Transaction</span></a>
            <a href="{% url 'user-update-profile' username=request.user.username %}"><span class="menu-btn"><i class="material-symbols-rounded">manage_accounts</i>Update Profile</span></a>
      </div>
      <div class="menubuttons">
         <span id="logoutbtn"><i class="material-symbols-rounded">logout</i>Log Out</span>
      </div>
         </div>
      </div>

       <!-- Notifications -->
      <div class="notificationscontainer">
         <h1>Notifications</h1>
      
         <div class="noteholder">
             <div class="note">
                  <h1><i class="material-symbols-rounded">description</i> Site Blog</h1>
                  <div class="notemessage">
                     <span>
                        Your notifications will appear here
                        Your notifications will appear here
                        Your notifications will appear here
                     </span>
                     <a href="">Visit Blog</a>
                  </div>
             </div>
      
             <div class="note">
               <h1><i class="material-symbols-rounded">paid</i> Transaction</h1>
               <div class="notemessage">
                  <span>
                     Your notifications will appear here
                     Your notifications will appear here
                     Your notifications will appear here
                  </span>
                  <a href="">Visit Transaction</a>
               </div>
          </div>
      
          <div class="note">
            <h1><i class="material-symbols-rounded">group</i> Referral</h1>
            <div class="notemessage">
               <span>
                  Your notifications will appear here
                  Your notifications will appear here
                  Your notifications will appear here
               </span>
               <a href="">Visit Referrals</a>
            </div>
          </div>
      
          <div class="note">
            <h1><i class="material-symbols-rounded">trophy</i> Achievement</h1>
            <div class="notemessage">
               <span>
                  Your notifications will appear here
                  Your notifications will appear here
                  Your notifications will appear here
               </span>
            </div>
          </div>
      
          <div class="note">
            <h1><i class="material-symbols-rounded">info</i> Notice</h1>
            <div class="notemessage">
               <span>
                  Your notifications will appear here
                  Your notifications will appear here
                  Your notifications will appear here
               </span>
            </div>
          </div>
      
         </div>
      </div>
      
   <!-- Forum & Discussions -->
   <div class="forumcontainer">
      <h1>Forum & Discussions</h1> 

     <div class="chatcontainer">
      <div class="chatsection">

         <div class="chat">
            <img src="{% static 'assets/images/stud.webp' %}" alt="" srcset="">
             
              <article>
              <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                 Cum, doloremque.Illo ad quasi repellendus laborum.</span>  
               
                 <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
              </article>
         </div>
         <div class="chat">
            <img src="{% static 'assets/images/stud.webp' %}" alt="" srcset="">
             
              <article>
              <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                 Cum, doloremque.Illo ad quasi repellendus laborum.</span>  
               
                 <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
              </article>
         </div>
         <div class="chat">
            <img src="{% static 'assets/images/stud.webp' %}" alt="" srcset="">
             
              <article>
              <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                 Cum, doloremque.Illo ad quasi repellendus laborum.</span>  
               
                 <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
              </article>
         </div>
         
         
         <div class="challenge">
            <img src="{% static 'assets/images/stud.webp' %}" alt="" srcset="">
            
            <article>
               <span>
                  Please join my challenge and stand the chance of winning the prize money
                 </span> 
                 
                 <a id="challengelink" href="#">Join Challenge</a>
                 
                 <span id="chattime"><i class="material-symbols-rounded">schedule</i>20 mins ago</span>
              </article>
           </div>
           
           <div class="chat">
              <img src="{% static 'assets/images/stud.webp' %}" alt="" srcset="">
               
                <article>
                <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                   Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                   Cum, doloremque.Illo ad quasi repellendus laborum.Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                   Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                   Cum, doloremque.Illo ad quasi repellendus laborum.</span>  
                 
                   <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
                </article>
           </div>
        </div>

      <div class="composesection">
           <section id="composemessage">
              <div id="togglechallenge"><i class="material-symbols-rounded">trophy</i></div>
              <div><textarea name="" id="" placeholder="Type Your Message"></textarea></div>
              <div><i class="material-symbols-rounded">send</i></div>
           </section>

           <section id="composechallenge">
               <input type="text" placeholder="Paste the challenge link here">
               <div>
               <button><i class="material-symbols-rounded">send</i> Post Challenge</button>
               <button id="cancelchallenge"><i class="material-symbols-rounded">delete</i> Cancel</button>
              </div>
           </section>
      </div>

     </div>
  </div> 
  
    <!-- Quiz Section -->
     <div class="quizcomponentholder">
         <section class="progresssection">
            
            <section class="circular-progress">
               <div class="progress-ring">
                 <svg>
                   <circle cx="0" cy="0" r="100"/>
                 </svg>
                
                  <div class="progress-countdown">
                     <span id="timericon" class="material-symbols-rounded">timer</span>
                     <span id="progress-text">00:00</span>
                  </div>
               </div>
            </section>
             

            <div class="questionprogress">
               <h1>Question Progress</h1>

               <div id="questiontabs">
               </div>
            </div>
         </section>

         <section class="quizcontrol">
               <div id="quizdetails">
                  <article>
                     <h1>Course</h1>
                     <span id="quiz-category">{{quiz.category}}</span>
                  </article>
                  
                  <!-- <article>
                     <h1>Focus</h1>
                     <span>Algebra</span>
                  </article> -->

                  <article>
                     <h1>Questions</h1>
                     <span>{{quiz.limit}}</span>
                  </article>
                  
                  <article>
                     <h1>Time</h1>
                     <span id="quiz-timer">00 min</span>
                  </article>
                  
                  <article>
                     <h1>Difficulty</h1>
                     <span id="quiz-level">{{quiz.level}}</span>
                  </article>
               </div>

               <div id="quiznumber">
                  <span>Progress: --/--</span>
                  <!-- <span>Outstanding: 25</span> -->
                  <!-- <span>Flow Type: Continious</span> -->
               </div>

               <div id="quizquestion">
                  <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure eum, odit vitae eaque numquam, autem dolor atque totam et
                      quos nulla in, tenetur tempore neque magnam ipsum commodi voluptas ipsam Lorem ipsum, dolor sit amet consectetur?</h1>

                  <div id="lifelineshead"><span class="material-symbols-rounded">vital_signs</span>Available Lifelines</div>
                  
                  <!-- <section id="lifelines">
                     <span>Limit Options</span>
                     <span>Change Question</span>
                     <span>Get a Pass</span>
                  </section> -->
               </div>

               <div id="quizanswers">
                     <section id="answersholder">
                     </section>
               </div>

               <div id="questioncontrols">
                  <!-- <button><span class="material-symbols-rounded">save</span>Save Progress For Later</button> -->
                  <button id="prev"><span class="material-symbols-rounded">keyboard_double_arrow_left</span>Previous</button>
                  <button id="next">Next<span class="material-symbols-rounded">keyboard_double_arrow_right</span></button> 
               </div>
         </section>
     </div>

   </section>
</section>

 <!-- Quiz Settings Popup -->
 <section class="quizsettingspopup">
   <section id="settingscontainer">
   <h1>Quiz Result</h1>
   <div id="content" style="display: flex; justify-content: center; align-items: center; flex: 2;">
      <img src="{% static '/assets/images/loader.gif' %}" alt="loader.gif">
      <h2>Please wait as we validate your answers..</h2>
      <button id="preparenstartquiz" style="display: none;">Return to Dashboard</button>
   </div>
   </section>
   </section>


   <!-- Result Pop Up -->
 <section class="resultdisplaypanel">
   <section class="resultdisplayholder">
         <h1>Quiz Result</h1>

         <div class="resultcontent">
             <section id="msgandvisual">
                  <div id="result-text">
                     <p></p>
                     <p></p>
                     <p>Feel free to retake the Quiz to gain more knowledge on the course.</p>
                  </div>
                  <div>
                     <img src="{{request.user.profile_img.url}}" alt="" srcset="">
                  </div>
             </section>

             <section id="resultbreakdown">
                  <div>
                     <span id="percent">80%</span>
                     <span>Your Score</span>
                  </div>

                  <div>
                     <span id="correctsAns">40</span>
                     <span>Correct Answers</span>
                  </div>
                  
                  <div>
                     <span id="incorrectsAns">10</span>
                     <span>Wrong Answers</span>
                  </div>
                  
                  <!-- <div>
                     <span>20</span>
                     <span>Points Earned</span>
                  </div> -->
             </section>

             <section id="resultoptionbtn">
                  <button id="quizretakebtn">Retake Quiz</button>
                  <button id="quizpageredirectbtn">Go To Quiz Page</button>
             </section>
         </div>
   </section>
 </section>


<!-- LogOut Popup -->
<section class="logoutpopup">
   <section id="logoutholder">
      <span>LogOut</span>
      <span>Do You Really Want to Log Out ?</span>
      <div>
         <button id="confirmlogoutbtn">Confirm</button>
         <button id="cancellogoutbtn">Cancel</button>
      </div>
   </section>
</section>

<!-- pagefooter -->
{% include '../../footer.html' %}
   
   <script src="{% static 'javascripts/userpagejs/generalscript.js' %}"></script>
   <script src="{% static 'javascripts/auxilliarypagejs/quizpage.js' %}"></script>
{% endblock content %}