@import url(/stylesheets/landingpage.css);


a{
    text-decoration: none;
}

.container .overviewinfo{
    text-align: center;
    background-image:  url(../assets/images/stud.webp);
    background-position: cover;
    width: 100%;
}

.container .overviewinfo .title{
    padding-top: 6rem;
}

.container .overviewinfo .details a{
    background-color: beige;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.container .overviewinfo .details a:hover{
    color: white;
    background-color: greenyellow;
    transition: all 300ms ease;
}
