{% load static %}

<!--Responsiveness for footer-->
<style>
   
@media (max-width: 768px) {
   header .headersection {
      display: flex;
      flex-direction: column;
   }
   
   first-section #section-head{
    display: flex;  
   }

   footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
   }

   footer section div div.info{
      width: fit-content;
      padding: 0;
      margin: 0;
   }

  
      footer .third-section #subscribe-section {
    margin: 0;
    margin-top: 1rem;
}
footer .third-section #subscribe-section form input {
    display: flex;
    width: 200px;
}

}
</style>

<footer>
    <section class="first-section">
    <div id="section-head"><img src="{% static '/assets/images/Uptorps.png' %}" alt=""></div>
    <div class="info">
    University of Cape Coast <br>
    Ghana, Central Region
    </div>
    <div class="contacts"> 
    <div><b>Phone: </b> <span>+233 201 817 717</span></div>
    <div><b>Email: </b> <span>uptorps@gmail.com</span></div>
    </div>
    </section>
 
    <section class="second-section">
    <div><b>Useful links</b></div>
    <div id="link-lists">
    <li><a href="">Home</a></li>
    <li><a href="">About Us</a></li>
    <li><a href="">Services</a></li>
    <li><a href="">Terms of Service</a></li>
    <li><a href="">Privacy and Policy</a></li>
    </div>
    </section>
 
    <section class="third-section">
    <div><b>Our Newsletterd</b></div>
    <div class="subscribe">Subscribe to our newletter and receive <br>
       the latest news about our products and <br>
       services!
    </div>
 
    <div id="subscribe-section">
       <form action="#" method="post">
          <input type="email" placeholder="Email Address" id="footer_email" required>
          <button type="submit"><span>Suscribe</span></button>
       </form>
    </div>
    </section>
 
    </footer>

    <div class="copyright">
      <span> © Copyright 2024</span>
      <span>Quizz App</span>
      <span>All Rights Reserved</span>
      </div>