<div class="notificationscontainer">
    <h1>Notifications</h1>
 
    <div class="noteholder">
    <div class="note">
    <h1><i class="material-symbols-rounded">description</i> Site Blog</h1>
    <div class="notemessage">
    <span>
       Your notifications will appear here
       Your notifications will appear here
       Your notifications will appear here
    </span>
    <a href="">Visit Blog</a>
    </div>
    </div>
 
    <div class="note">
    <h1><i class="material-symbols-rounded">paid</i> Transaction</h1>
    <div class="notemessage">
    <span>
    Your notifications will appear here
    Your notifications will appear here
    Your notifications will appear here
    </span>
    <a href="">Visit Transaction</a>
    </div>
    </div>
 
    <div class="note">
    <h1><i class="material-symbols-rounded">group</i> Referral</h1>
    <div class="notemessage">
    <span>
    Your notifications will appear here
    Your notifications will appear here
    Your notifications will appear here
    </span>
    <a href="">Visit Referrals</a>
    </div>
    </div>
 
    <div class="note">
    <h1><i class="material-symbols-rounded">trophy</i> Achievement</h1>
    <div class="notemessage">
    <span>
    Your notifications will appear here
    Your notifications will appear here
    Your notifications will appear here
    </span>
    </div>
    </div>
 
    <div class="note">
    <h1><i class="material-symbols-rounded">info</i> Notice</h1>
    <div class="notemessage">
    <span>
    Your notifications will appear here
    Your notifications will appear here
    Your notifications will appear here
    </span>
    </div>
    </div>
 
    </div>
    </div>