{% load static %}

<div class="menucontainer">
    <div class="menu">
       <div>
          <img src="{% static '/assets/images/stud.webp' %}" alt="">
          <span>{{request.user.username}}</span>
          <span>{{request.user.last_name}} {{request.user.first_name}}</span> 
          <span>{% if request.user.is_premium %}Premium{% else %} Non Premium{% endif %}</span>
       </div>
       <div class="menubuttons">
         {% if display %}
         <a {% if status == 'administrator' %} href="{% url 'admin-index' %}" {% else%} href="{% url 'dev-index' %}"  {% endif %}><span class="menu-btn active"><i class="material-symbols-rounded">dashboard</i>Admin Dashboard</span></a>
         {% endif %}
             <a href="{% url 'user-dashboard' username=request.user.username %}"><span class="menu-btn"><i class="material-symbols-rounded">dashboard</i>Dashboard</span></a>
             <a href="{% url 'user-referrals' username=request.user.username %}"><span class="menu-btn"><i class="material-symbols-rounded">group</i>Referrals</span></a>
             <a href="{% url 'user-quiz' username=request.user.username %}"><span class="menu-btn"><i class="material-symbols-rounded">quiz</i>Take A Quiz</span></a>
             <a href="{% url 'user-transactions' username=request.user.username %}"><span class="menu-btn"><i class="material-symbols-rounded">trophy</i>Challenge</span></a>
             <a href="{% url 'user-wallet' username=request.user.username %}"><span class="menu-btn"><i class="material-symbols-rounded">paid</i>Wallet & Transaction</span></a>
             <a href="{% url 'user-update-profile' username=request.user.username %}"><span class="menu-btn"><i class="material-symbols-rounded">manage_accounts</i>Update Profile</span></a>
       </div>
       <div class="menubuttons">
          <span id="logoutbtn"><i class="material-symbols-rounded">logout</i>Log Out</span>
       </div>
    </div>
    </div> 