{% extends 'base.html' %} {% load static %} {% block css %}
   <link rel="stylesheet" href="{% static 'stylesheets/userpagestyles/profile.css' %}" />

   {% endblock css %} 

{% block content %}
   <!-- pagecontent -->
   <section class="content-wrapper">
      <section class="maincontentsection">
         
         <!-- Menu  -->
         {% include '../../sidebar.html' %}

         <!-- Notifications -->
         {% include '../../notifications.html' %}


         <!-- Forum & Discussions -->
         <div class="forumcontainer">
            <h1>Forum & Discussions</h1> 

         <div class="chatcontainer">
            <div class="chatsection">

               <div class="chat">
                  <img src="{% static '/assets/images/stud.webp' %}" alt="" srcset="">
                  
                  <article>
                  <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                     Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                     Cum, doloremque.Illo ad quasi repellendus laborum.</span>  
                     
                     <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
                  </article>
               </div>
               <div class="chat">
                  <img src="{% static '/assets/images/stud.webp' %}" alt="" srcset="">
                  
                  <article>
                  <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                     Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                     Cum, doloremque.Illo ad quasi repellendus laborum.</span>  
                     
                     <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
                  </article>
               </div>
               <div class="chat">
                  <img src="{% static '/assets/images/stud.webp' %}" alt="" srcset="">
                  
                  <article>
                  <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                     Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                     Cum, doloremque.Illo ad quasi repellendus laborum.</span>  
                     
                     <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
                  </article>
               </div>
               
               
               <div class="challenge">
                  <img src="{% static '/assets/images/stud.webp' %}" alt="" srcset="">
                  
                  <article>
                     <span>
                        Please join my challenge and stand the chance of winning the prize money
                     </span> 
                     
                     <a id="challengelink" href="#">Join Challenge</a>
                     
                     <span id="chattime"><i class="material-symbols-rounded">schedule</i>20 mins ago</span>
                  </article>
               </div>
               
               <div class="chat">
                  <img src="{% static '/assets/images/stud.webp' %}" alt="" srcset="">
                     
                     <article>
                     <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                        Cum, doloremque.Illo ad quasi repellendus laborum.Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                        Cum, doloremque.Illo ad quasi repellendus laborum.</span>  
                     
                        <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
                     </article>
               </div>
            </div>

            <div class="composesection">
               <section id="composemessage">
                  <div id="togglechallenge"><i class="material-symbols-rounded">trophy</i></div>
                  <div><textarea name="" id="" placeholder="Type Your Message"></textarea></div>
                  <div><i class="material-symbols-rounded">send</i></div>
               </section>

               <section id="composechallenge">
                     <input type="text" placeholder="Paste the challenge link here">
                     <div>
                     <button><i class="material-symbols-rounded">send</i> Post Challenge</button>
                     <button id="cancelchallenge"><i class="material-symbols-rounded">delete</i> Cancel</button>
                  </div>
               </section>
            </div>

         </div>
      </div>


      <div class="profileholders">
         <section id="first-section">
               <h1><i class="material-symbols-rounded">person</i>PROFILE SETTINGS</h1>
               
               <section class="detailsection">

               <div id="details">
                  <div id="visualgrp">
                     <span id="changeprofileimagebtn" class="material-symbols-rounded">edit</span>
                     <img id="profileimage" {% if request.user.profile_img %} src="{{request.user.profile_img.url}}" {% else %} src="{% static '/assets/images/M ref.png' %}" {% endif %} alt="" srcset="">
                     <input type="file" name="" id="changeprofileimage" accept=".png,.jpeg,.jpg" hidden>
                  </div>
                  <article>
                     <span>{{request.user.last_name}} {{request.user.first_name}}</span>
                     <span>{{request.user.username}}</span>
                     <span>{% if request.user.is_premium %}Premium Account{% else %} Non Premium Account {% endif %}</span>
                     <span>{{request.user.email}}</span>
                  </article>
               </div>

               <div id="detailsedit">
                  <label>First Name :</label>
                  <input type="text" value="{{request.user.first_name}}" id="fn">
                  <label>Last Name :</label>
                  <input type="text" value="{{request.user.last_name}}" id="ln">
                  <label>Email :</label>
                  <input type="text" value="{{request.user.email}}" id="email">
                  <!-- <label>Phone Number :</label>
                  <input type="tel" value="+233_xxxxxxxxx"> -->
                  <label>Password :</label>
                  <div class="passwordyard">
                     <input type="password" class="passinput" placeholder="Please enter password for security reasons" id="ps">
                     <span id="visiblebtn" class="material-symbols-rounded">visibility_off</span>
                  </div>
                  <button type="button" id="btn-update-profile">Save Profile Changes</button>
               </div>

            </section>

         </section>

         <section id="second-section">
               <h1><i class="material-symbols-rounded">password</i>PASSWORD SETTINGS</h1>
               <div id="passwordedit">
                  <label>Old Password :</label>
                  <div class="passwordyard">
                     <input class="passinput" type="password" id="oldP">
                     <span id="visiblebtn" class="material-symbols-rounded">visibility_off</span>
               </div>
                  <label>New Password :</label>
                  <div class="passwordyard">
                     <input class="passinput" type="password" id="p1">
                     <span id="visiblebtn" class="material-symbols-rounded">visibility_off</span>
               </div>
                  <label>Confirm New Password :</label>
                  <div class="passwordyard">
                     <input class="passinput" type="password" id="p2">
                     <span id="visiblebtn" class="material-symbols-rounded">visibility_off</span>
               </div>
               
                  <button type="button" id="btn-update-pass">Save Password Changes</button>
               </div>
         </section>
      </div>

      </section>
      
   </section>


   <!-- LogOut Popup -->
   <section class="logoutpopup">
      <section id="logoutholder">
         <span>LogOut</span>
         <span>Do You Really Want to Log Out ?</span>
         <div>
            <button id="confirmlogoutbtn">Confirm</button>
            <button id="cancellogoutbtn">Cancel</button>
         </div>
      </section>
   </section>



   <!-- pagefooter -->
   {% include '../../footer.html' %}
   
   <script src="{% static '/javascripts/userpagejs/generalscript.js' %}"></script>
   <script src="{% static '/javascripts/userpagejs/profile.js' %}"></script>
{% endblock content %}