
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   user-select: none;
   font-family: "Poppins", sans-serif;
}

body[data-theme="light"]{
  --primarycolor: rgb(255, 255, 255);
  --secondarycolor: #1b1b1f;
  --primitivecolor: #1CBD07;
  --dividercolor: var(--secondarycolor);
  --searchmolphcolor: #D9D9D9;
  --primitivealtcolor: var(--primarycolor);
  --primitiveswitchcolor: var(--primitivecolor);

  transition: all 0.1s ease;
}

body[data-theme="dark"]{
  --primarycolor: #1b1b1f;
  --secondarycolor: rgb(255,255,255);
  --primitivecolor: #1CBD07;
  --dividercolor: var(--secondarycolor);
  --searchmolphcolor: #D9D9D9;
  --primitivealtcolor: #1CBD07;
  --primitiveswitchcolor: var(--secondarycolor);

  transition: all 0.1s ease;
}


body{
   display: flex;
   background-color: var(--primarycolor);
   width: 100%;
   padding: 0;
   margin: 0;
}

.logincontainer{
   display: flex;
   justify-content: center;
   align-content: center;
   flex-wrap: wrap;
   width: 100%;
   height: 100dvh;
}

.logincontainer #title{
   width: 100%;
   text-align: center;
   margin: 20px;
   font-size: 40px;
   font-weight: 900;
   color: var(--primitivecolor);
}

.logincontainer form{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   padding: 20px;
   color: var(--primitivecolor);
   box-shadow: 0px 0px 5px var(--secondarycolor);
   width: 550px;
   border-radius: 10px;
}

.logincontainer form :where(#loginsection,#resetsection,#resetverifysection){
   width: 100%;
   display: none;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.logincontainer form #resetverifysection div i{
   width: 100%;
   font-weight: 500;
   font-size: 20px;
   text-align: center;
}

.logincontainer form div{
   width: 70%;     
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   margin: 10px;
}

.logincontainer form div span{
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    white-space: nowrap;
}


.logincontainer form div input{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  padding: 6px;
  color: var(--primitivecolor);
  background-color: var(--searchmolphcolor);
  border: none;
  font-weight: 800;
  caret-color: var(--primitivecolor);
  padding-inline: 10px;
}

.logincontainer form div input::-webkit-calendar-picker-indicator{
   color: #1CBD07 !important;
}

.logincontainer form div input:-moz-calendar-picker{
   color: #1CBD07 !important;
}

.logincontainer form div input::-ms-reveal{
   display: none;
}

.logincontainer form div p{
   position: absolute;
   top: auto;
   left: 20px;
   font-weight: 800;
   pointer-events: none;
   transition: all 0.2s ease;
 }

.logincontainer form .emailyard input:focus,.logincontainer form .emailyard input:valid{
   outline: none;
   border: 2px solid var(--primitivecolor);
}

.logincontainer form div input:focus ~p, .logincontainer form div input:valid ~p{
  font-size: 13px;
  top: -21px;
  background-color: var(--searchmolphcolor);
  border-radius: 5px;
  padding-inline: 10px;
  color: var(--primitivecolor);
  border: 1px solid var(--primitivecolor);
}

.logincontainer form .passwordyard{
   background-color: var(--searchmolphcolor);
   border-radius: 10px;
}

.logincontainer form .passwordyard:focus-within{
   border: 2px solid var(--primitivecolor);
}

.logincontainer form .passwordyard input:focus,.logincontainer form .passwordyard input:valid{
   outline: none;
}

.logincontainer form .passwordyard span{
   font-size: 25px;
   margin-inline: 15px;
   cursor: pointer;
}

.logincontainer form .passwordyard span:hover{
   color: var(--primarycolor);
}

.logincontainer form .options-select{
   display: flex;
   justify-content: center;
   align-items: center;
}

.logincontainer form .options-select #rememberme span{
   white-space: nowrap;
}

.logincontainer form .options-select #rememberme check{
   height: 16px;
   width: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
   border: 2px solid var(--primitivecolor);
   border-radius: 100%;
   cursor: pointer;
}

.logincontainer form .options-select #rememberme:hover span{
   font-weight: 900;
 }

.logincontainer form .options-select #rememberme check.active toggle{
  height: 14px;
  width: 14px;
  background-color: #1CBD07;
  border-radius: 100%;
}

.logincontainer form .options-select #toogleresetsection:hover span{
  font-weight: 900;
}

.logincontainer form .options-select span{
   font-size: 15px;
   text-align: left;
   font-weight: 500;
}

.logincontainer form .options-select #icon{
   font-size: 25px;
   margin-left: 5px;
}

button{
   width: 240px;
   padding: 10px;
   border: 2px solid var(--primitivecolor);
   background-color: var(--primitivecolor);
   color: var(--primarycolor);
   border-radius: 10px;
   padding-inline: 20px;
   margin-inline: 5px;
   font-weight: 800;
   white-space: nowrap;
   cursor: pointer;
   transition: all 0.2s ease;
}

button:hover{
  background-color: var(--primarycolor);
  color: var(--primitivecolor);
}


/* form regulation */
.logincontainer form.showlogin #loginsection{
   display: flex;
}

.logincontainer form.showemailconfirm #resetsection{
   display: flex;
}

.logincontainer form.showresetverify #resetverifysection{
    display: flex;
}

/* CopyRight */
.copyright{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 20px;
   color: var(--secondarycolor);
}

.copyright span{
   font-size: 18px;
   width: 100%;
   text-align: center;
}

.copyright span:nth-child(2){
    font-size: 30px;
    font-weight: 900;
}