{% extends 'base.html' %} {% load static %} {% block css %}
   <link rel="stylesheet" href="{% static 'stylesheets/userpagestyles/dashboard.css' %}" />
{% endblock css %} 

{% block content %}

   <!-- pagecontent -->
   <section class="content-wrapper">
      <section class="maincontentsection">

         <!-- Menu  -->
         {% include '../../sidebar.html' %}

      <!-- Notifications -->
      {% include '../../notifications.html' %}

         
         <!-- Forum & Discussions -->
         <div class="forumcontainer">
            <h1>Forum & Discussions</h1> 

            <div class="chatcontainer">
            <div class="chatsection">

               <div class="chat">
                  <img src="{% static '/assets/images/stud.webp' %}" alt="" srcset="">
                  
                     <article>
                     <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                        Cum, doloremque.Illo ad quasi repellendus laborum.</span>  
                     
                        <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
                     </article>
               </div>
               <div class="chat">
                  <img src="{% static '/assets/images/stud.webp' %}" alt="" srcset="">
                  
                     <article>
                     <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                        Cum, doloremque.Illo ad quasi repellendus laborum.</span>  
                     
                        <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
                     </article>
               </div>
               <div class="chat">
                  <img src="{% static '/assets/images/stud.webp' %}" alt="" srcset="">
                  
                     <article>
                     <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                        Cum, doloremque.Illo ad quasi repellendus laborum.</span>  
                     
                        <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
                     </article>
               </div>
               
               
               <div class="challenge">
                  <img src="{% static '/assets/images/stud.webp' %}" alt="" srcset="">
                  
                  <article>
                     <span>
                        Please join my challenge and stand the chance of winning the prize money
                        </span> 
                        
                        <a id="challengelink" href="#">Join Challenge</a>
                        
                        <span id="chattime"><i class="material-symbols-rounded">schedule</i>20 mins ago</span>
                     </article>
                  </div>
                  
                  <div class="chat">
                     <img src="{% static '/assets/images/stud.webp' %}" alt="" srcset="">
                     
                     <article>
                     <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                        Cum, doloremque.Illo ad quasi repellendus laborum.Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                        Cum, doloremque.Illo ad quasi repellendus laborum.</span>  
                        
                        <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
                     </article>
                  </div>
               </div>

            <div class="composesection">
                  <section id="composemessage">
                     <div id="togglechallenge"><i class="material-symbols-rounded">trophy</i></div>
                     <div><textarea name="" id="" placeholder="Type Your Message"></textarea></div>
                     <div><i class="material-symbols-rounded">send</i></div>
                  </section>

                  <section id="composechallenge">
                     <input type="text" placeholder="Paste the challenge link here">
                     <div>
                     <button><i class="material-symbols-rounded">send</i> Post Challenge</button>
                     <button id="cancelchallenge"><i class="material-symbols-rounded">delete</i> Cancel</button>
                     </div>
                  </section>
            </div>

            </div>
         </div>

      <!--Dashboard Content-->
         <div class="infoholders">
               <section id="first-section">
               <div class="hint">
                  <span class="material-symbols-rounded">collections_bookmark</span>
                  <span>16</span>
                  <span>Number Of Courses Engaged</span>
               </div>

               <div class="hint">
                  <span class="material-symbols-rounded">group</span>
                  <span>125</span>
                  <span>Total Referrals</span>
               </div>

               <div class="hint">
                  <span class="material-symbols-rounded">task_alt</span>
                  <span>8</span>
                  <span>Challenges Completed</span>
               </div>
               </section>

               <section id="second-section">

                  <div class="item">
                     <span class="material-symbols-rounded">quiz</span>
                     <span>Number Of Quizzes Taken</span> 
                     <span>32</span>
                  </div>      

                  <div class="item">
                        <span class="material-symbols-rounded">timer</span>
                        <span>Average Time Spent</span> 
                        <span>2h 30m</span>
                  </div>

                  <div class="item">
                        <span class="material-symbols-rounded">account_balance_wallet</span>
                        <span>Wallet Balance</span> 
                        <span>₵ 0.00</span>
                  </div>  

               </section>

               <section id="third-section">
                  <div>
                     <h1>Earnings (Last 5 Months)</h1>
                     <canvas id="myChart"></canvas>
                  </div>

                  <div>
                     <h1>Referrals (Last 5 months)</h1>
                     <canvas id="myChart2"></canvas>
                  </div>
               </section>

               <section id="second-section">

                  <div class="item">
                     <span class="material-symbols-rounded">trending_up</span>
                     <span>General Quiz Accuracy</span> 
                     <span>82%</span>
                  </div>      

                  <div class="item">
                        <span class="material-symbols-rounded">tag</span>
                        <span>General Ranking</span> 
                        <span>#125</span>
                  </div>

                  <div class="item">
                        <span class="material-symbols-rounded">bookmark_star</span>
                        <span>Highest Score</span> 
                        <span>78%</span>
                  </div> 

            </section>

               <section id="fourth-section">

                  <div class="item1">
                     <span>2843</span>
                     <span>Total Accumulated Points</span>
                  </div>
                  
                  <div class="item2">
                     <span class="material-symbols-rounded">verified</span>
                     <span>Premium Account</span>
                  </div>

                  <div class="item3">
                     <div id="stars">
                     <i class="material-symbols-rounded">star</i>
                     <i class="material-symbols-rounded">star</i>
                     <i class="material-symbols-rounded">star</i>
                     <i class="material-symbols-rounded">star</i>
                     <i class="material-symbols-rounded">star</i>
                     </div>
                     <span>Stars Achievement</span>
                  </div>

               </section>
         </div>
      </section>
   </section>
   
    <!-- LogOut Popup -->
    <section class="logoutpopup">
         <section id="logoutholder">
            <span>LogOut</span>
            <span>Do You Really Want to Log Out ?</span>
            <div>
               <button id="confirmlogoutbtn">Confirm</button>
               <button id="cancellogoutbtn">Cancel</button>
            </div>
         </section>
    </section>

   <!-- pagefooter -->
   {% include '../../footer.html' %}
   
   <script src="{% static '/javascripts/userpagejs/generalscript.js' %}"></script>
   <script src="{% static '/javascripts/userpagejs/dashboard.js' %}"></script>
{% endblock content %}