
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   user-select: none;
   font-family: "Poppins", sans-serif;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body{
   position: relative;
   padding: 0;
   margin: 0;
   height: 100dvh; 
}

.btns{
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column;
}

.btns .btn{
   width: 200px;
   padding: 5px;
   margin: 10px;
   background-color: var(--backcolor);
   border: 1px solid var(--backcolor);
   border-radius: 8px;
   color: white;
   font-size: 14px;
   font-weight: 600;
   cursor: pointer;
   transition: all 0.3s ease;
}

.btns .btn:hover{
   font-size: 16px;
   background-color: transparent;
   color: var(--backcolor);
}

.alertsholder{
   position: absolute;
   top: 0;
   right: 0;
   padding: 10px;
   padding-block: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column;
   overflow: hidden;
   z-index: 15;
}

.alertsholder::-webkit-scrollbar{
   display: none;
}

.alertsholder .alert{
   position: relative;
   margin: 10px;
   padding: 10px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   background-color: var(--backcolor);
   color: white;
   box-shadow: 0px 0px 10px var(--backcolor);
   display: none;
   transform: translateX(150%);
   animation: drawout 0.2s linear forwards;
   animation-iteration-count: 1;
}

.alertsholder .alert.active{
   display: flex;
   animation: drawin 0.2s linear forwards;
   animation-iteration-count: 1;
}

@keyframes drawin {
   from{
      transform: translateX(150%);
   }
   to{
      transform: translateX(0%);
   }
}

@keyframes drawout {
   from{
      display: flex;
      transform: translateX(0%);
   }
   to{
      display: none;
      transform: translateX(150%);
   }
}

.alertsholder .alert .alertclose{
   position: absolute;
   top: 10px;
   right: 10px;
}

.alertsholder .alert .alertclose span{
   font-size: 18px;
   font-weight: 800;
   cursor: pointer;
   transition: all 0.2s ease;
}

.alertsholder .alert .alertclose span:hover{
   font-size: 16px;
}

.alertsholder .alert .alertmsg{
   margin-block: 15px;
   margin-inline: 20px;
   font-size: 16px;
}
