{% extends 'base.html' %}

{% block content %}

{% for message in messages %}
    <div class="message {{message.tags}}">
        {{message}}
    </div>
{% endfor %}        
<div class="center">  
    <form action="{% url 'password-reset-request' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Reset password</button>
    </form>
    <br>
    <a href="{% url 'index' %}">Home</a> or <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a>      
</div>



{% endblock content %}
