@import "generalstyle.css";

.challengeholder{
   height: 100%;
   display: flex;
   justify-content: center;
   align-content: start;
   flex-wrap: wrap;
   overflow-y: auto;
}

.challengeholder  section{
   display: flex;
   justify-content: space-evenly;
   margin-top: 20px;
   width: 100%;
}

.challengeholder  #first-section .hint{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   color: var(--primitivecolor);
   background-color: var(--primarycolor);
   width: 30%;
   margin: 1%;
   padding-block: 10px;
   border-radius: 0px 10px 10px 10px;
}

.challengeholder #first-section .hint span{
  width: 100%;
  text-align: center;
  margin: 10px;
}

.challengeholder #first-section .hint span:nth-child(1){
   font-size: 60px;
   font-weight: 800;
}

.challengeholder #first-section .hint span:nth-child(2){
   font-size: 80px;  
   font-family: "Protest Guerrilla", system-ui;
}


.challengeholder #second-section{
   padding-block: 20px;
   background-color: var(--primarycolor);
 }

 .challengeholder #second-section .option{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: var(--primitivecolor);
    color: var(--primarycolor);
    padding-block: 20px;
    padding-inline: 40px;
    border: 3px solid var(--primitivecolor);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
 }

 .challengeholder #second-section .option:hover{
    background-color: var(--primarycolor);
    color: var(--primitivecolor);
    border-radius: 5px;
 }

 .challengeholder #second-section .option i{
   margin: 10px;
   font-size: 60px;
 }
 .challengeholder #second-section .option span{
   margin: 10px;
   font-size: 20px;
   font-weight: 700;
 }

.challengeholder #third-section{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: var(--primarycolor);
   padding-block: 20px;
}

.challengeholder #third-section .item{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   color: var(--primitivecolor);
}

.challengeholder #third-section .item span{
   width: 100%;
   text-align: center;
   margin: 10px;
}

.challengeholder #third-section .item span:nth-child(1){
   font-size: 70px;
   font-weight: 600;
}

.challengeholder #third-section .item span:nth-child(3){
   font-size: 30px;  
   font-family: "Protest Guerrilla", system-ui;
}