
@import "generalstyle.css";

.infoholders{
   height: 100%;
   display: flex;
   justify-content: center;
   align-content: start;
   flex-wrap: wrap;
   overflow: hidden;
}

.infoholders div{
   padding: 30px;
   width: 100%;
}

.infoholders #progresssection{
   height: 90%;
   display: flex;
   justify-content: center;
   align-content: start;
   flex-wrap: wrap;
   overflow-y: auto;
}

.infoholders #progresssection section{
   display: flex;
   justify-content: center;
   width: 100%;
}

.infoholders #progresssection #first-section .hint{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--primitivecolor);
    background-color: var(--primarycolor);
    margin: 1%;
    width: 30%;
    font-size: 20px;
    font-weight: 500;
}

<<<<<<< HEAD
.infoholders #progresssection #first-section .hint span{
=======
/* .infoholders #progresssection .hint span{
>>>>>>> 6f4f9c10b7488245eb232b34f6e395c9f0edf0b2
   width: 100%;
   text-align: center;
   margin: 10px;
}

<<<<<<< HEAD
.infoholders #progresssection #first-section .hint span:nth-child(1){
   font-size: 60px;
   font-weight: 500;
}

.infoholders #progresssection #first-section .hint span:nth-child(2){
   font-size: 70px;
   font-family: "Protest Guerrilla", system-ui;
=======
.infoholders #progresssection .hint span:nth-child(1){
   font-size: 80px;
   
} */
.dashboard-content{
   justify-content: space-evenly;
   padding: 20px;
}
.dash-head1{
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
   margin: 0 0 0 350px;

}
.dash-head2{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   background-color: #ffffff;
   border-radius: 10px;
   padding: 10px;
   margin: 50px 0 0 350px;
}
#img-cont{
   display: flex;
   width: 50px;
   background-color:#aaa6a6; 
   height: 50px; 
   border-radius: 50%;
   margin: 20px -25px;
}
#des-text{
   margin: -65px 0 0 40px;
}
.participants #nums, .time #nums, #enrolled-courses #nums{
   font-size: 20px;
   font-weight: bold;
   margin-left: 38px;
} 
#img-cont img {
   margin: 9px 8px;
}
.time #img-cont img{
   width: 80px; 
   height: 80px; 
   margin: -12px 0 0 -13px;
}
.courses-enrolled{
   background-color: #ffff;
   width: 200px;
   height: 80px;
   display: flex;
   flex-wrap: wrap;
   font-size:50px;
   font-weight: bolder;
   border-radius: 10px 10px 10px 10px;
   justify-content: center;

}
.total-referrals{
   background-color: #353535;
   width: 200px;
   height: 80px;
   display: flex;
   flex-wrap: wrap;
   font-size:50px;
   font-weight: bolder;
   border-radius: 10px 10px 10px 10px;
   justify-content: center;
   color: #ffff;

}
.total-wallet{
   background-color: #1CBD07;
   width: 200px;
   height: 80px;
   font-size:30px;
   font-weight: bolder;
   border-radius: 10px 10px 10px 10px;
   justify-content: center;
   text-align: center;
}
.total-wallet img{
   height: 30px;
   padding-top: 5px;
}
.total-wallet span{
   color: #ffff;
   font-size: 20px;
   font-weight: 400;
}
#amount{
   color: #ffff;
   font-size: 27px;
   margin-top: -10px;
}
.courses-enrolled span:nth-child(1), .total-referrals span:nth-child(1), .total-participants span:nth-child(1){
   font-size:15px;
   font-weight: bold;
   align-content: center;
   padding: 10px;
}
.date-cont{
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-wrap: wrap;
   gap: 10px;
   margin: 0 0 0 350px;
}
.date1{
   margin-top: 100px;
}
.date2{
   margin: 50px 0;
}

.date-cont input{
   display: flex;
   width: 120px;
   height: 30px;
   border: 1px solid#000;
   border-radius: 5px;

}
input[type='date']:in-range::-webkit-datetime-edit-year-field,
input[type='date']:in-range::-webkit-datetime-edit-month-field,
input[type='date']:in-range::-webkit-datetime-edit-day-field,
input[type='date']:in-range::-webkit-datetime-edit-text{  color: transparent;}
 .load-btn{
   background-color: #1CBD07;
   height: 35px;
   width: 110px;
   border: none;
   color: #ffff;
   border-radius: 10px;
   text-align: center;
   transition: transform 0.4s;
   margin: 0 0 0 350px;
   font-weight: bold;

 }
 .load-btn:hover{
   background-color: #ffff;
   color: #1CBD07;
   transform: scale(1.1);
>>>>>>> 6f4f9c10b7488245eb232b34f6e395c9f0edf0b2
}