
@import "generalstyle.css";

.infoholders{
   height: 100%;
   display: flex;
   justify-content: center;
   align-content: start;
   flex-wrap: wrap;
   overflow: hidden;
}

.infoholders div{
   padding: 30px;
   width: 100%;
}

.infoholders #progresssection{
   height: 90%;
   display: flex;
   justify-content: center;
   align-content: start;
   flex-wrap: wrap;
   overflow-y: auto;
}

.infoholders #progresssection section{
   display: flex;
   justify-content: center;
   width: 100%;
}

.infoholders #progresssection #first-section .hint{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--primitivecolor);
    background-color: var(--primarycolor);
    margin: 1%;
    width: 30%;
    font-size: 20px;
    font-weight: 500;
}

.infoholders #progresssection .hint span{
   width: 100%;
   text-align: center;
   margin: 10px;
}

.infoholders #progresssection .hint span:nth-child(1){
   font-size: 80px;
   
}