@media  only screen  and (max-width :768px) {
    /* first section  */
    .quizholder #first-section{
        display: flex;
        flex-direction:column ;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }

    .quizholder #first-section .hint{
        width: 100%;
    }

    .quizholder #second-section div{
        width: 100%;
    }

    /* courses */
    div.quizholder #fourth-section .coursequery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    div.quizholder #fourth-section .coursequery #search {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    div.quizholder #fourth-section .courses {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    div.quizholder #fourth-section .courses .item {
        width: 100%;
        padding: 0.5rem 1rem;
        margin: 1rem ;
    }

    div.quizholder #fourth-section .courses .item img{
        width: 100%;
    }



     /* footer */
     footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0;
        width: 100%;
    }

    footer #subscribe-section {
        margin-bottom: 0.5rem;
    }

}