@media only screen and (max-width: 768px) {

    /* referral content*/
    .refsholder #first-section{
        display: flex;
        flex-direction:column ;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }

    .refsholder #first-section .hint{
        width: 100%;
    }

    .refsholder #second-section div{
        width: 100%;
    }

    .refsholder #second-section div button{
        padding: 0px;
        margin: 0 10px 0 0;
    }

    section#third-section div.querysearchsection {
        display: flex;
        flex-direction:column ;
    }



    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0;
        width: 100%;
    }

    footer #subscribe-section {
        margin-bottom: 0.5rem;
    }

}