@import "generalstyle.css";

.profileholders{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    overflow-y: auto;
}

.profileholders section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    padding-block: 40px;
    background-color: var(--primarycolor);
    border-radius: 10px;
}

.profileholders #first-section h1{
    display: flex;
    align-items: center;
    margin: 0px;
    width: 100%;
   color: var(--primitivecolor);
   font-size: 20px;
   font-weight: 800;
   margin-left: 100px;
}

.profileholders #first-section h1 i{
    font-size: 40px;
    font-weight: 900;
    margin: 10px;
}

.profileholders #first-section #details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}

.profileholders #first-section #details img{
   width: 150px;
   height: 150px;
   border: 5px solid var(--searchmolphcolor);
   border-radius: 100%;
   object-fit: cover;
}

.profileholders #first-section #details article{
    width: 60%;
    display: flex;
    flex-flow: column;
    color: var(--primitivecolor);
    padding-inline: 30px;
}

.profileholders #first-section #details article span:nth-child(1){
   font-size: 30px;
   font-weight: 900;
}
.profileholders #first-section #details article span:nth-child(2){
   font-size: 18px;
   font-weight: 400;
}
.profileholders #first-section #details article span:nth-child(3){
   font-size: 18px;
   font-weight: 600;
}

.profileholders #first-section #detailsedit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 70%;
    margin-top: 20px;
}

.profileholders #first-section #detailsedit label{
    margin: 10px;
    color: var(--primitivecolor);
    font-size: 18px;
    font-weight: 900;
    width: 80%;
    text-align: left;
}

.profileholders #first-section #detailsedit input{
   width: 80%;
   background-color: var(--primarycolor);
   color: var(--primitivecolor);
   border: 4px solid var(--primitivecolor);
   border-radius: 10px;
   outline: none;
   padding: 10px;
   font-size: 18px;
   font-weight: 700;
}

.profileholders #first-section #detailsedit button{
    width: 70%;
    padding: 10px;
    margin-top: 30px;
    background-color: var(--primitivecolor);
    color: var(--primarycolor);
    font-size: 20px;
    font-weight: 500;
    border: 2px solid var(--primitivecolor);
    border-radius: 10px;
}

.profileholders #first-section #detailsedit button:hover{
    background-color: var(--primarycolor);
    color: var(--primitivecolor);
}


.profileholders #second-section h1{
    display: flex;
    align-items: center;
    margin: 0px;
    width: 100%;
   color: var(--primitivecolor);
   font-size: 20px;
   font-weight: 800;
   margin-left: 100px;
}

.profileholders #second-section h1 i{
    font-size: 40px;
    font-weight: 900;
    margin: 10px;
}

.profileholders #second-section #passwordedit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 70%;
}

.profileholders #second-section #passwordedit label{
    margin: 10px;
    color: var(--primitivecolor);
    font-size: 18px;
    font-weight: 900;
    width: 80%;
    text-align: left;
}

 .profileholders #second-section .passwordyard{ 
    width: 70%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primarycolor);
    border: 4px solid var(--primitivecolor);
    border-radius: 10px;
 }
 
.profileholders #second-section .passwordyard input{
    width: 80%;
    background-color: var(--primarycolor);
    color: var(--primitivecolor);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    border: none;
    outline: none;
 }

.profileholders #second-section .passwordyard input::-ms-reveal{
    display: none;
 }
 
.profileholders #second-section .passwordyard span{
    width: 10%;
    margin-inline: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
    color: var(--primitivecolor);
 }

 .profileholders #second-section .passwordyard span:hover{
    color: var(--secondarycolor);
 }

.profileholders #second-section #passwordedit button{
    width: 70%;
    padding: 10px;
    margin-top: 30px;
    background-color: var(--primitivecolor);
    color: var(--primarycolor);
    font-size: 20px;
    font-weight: 500;
    border: 2px solid var(--primitivecolor);
    border-radius: 10px;
}

.profileholders #second-section #passwordedit button:hover{
    background-color: var(--primarycolor);
    color: var(--primitivecolor);
}









