
{% extends 'base.html' %} {% load static %} {% block css %}
   <link rel="stylesheet" href="{% static 'stylesheets/adminpagestyles/teaminfo.css' %}" />
   <link rel="stylesheet" href="{% static 'stylesheets/userpagestyles/generalstyle.css' %}" />
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script src="https://kit.fontawesome.com/20d7e3a79f.js" crossorigin="anonymous"></script>
   {% endblock css %}{% block nav_content %}{% endblock nav_content %} {% block content %}
   
   <!--  pageheader -->
   {% include '../adminNav/adminNav.html'%}


   <!-- pagecontent -->
<section class="content-wrapper">
   <section class="maincontentsection">

      <!-- Menu  -->
      {% include '../adminNav/adminSideBar.html'%}

     

      <!-- Team Content -->
      <div class="teamholder">
        <section class="member-section">
            <h1>MANAGERS & INVESTORS</h1>

            <div id="membercontainer">
                {% for admin in admins %}
                    <div id="member">
                        <img src="{{admin.profile_img.url}}" alt="" srcset="">

                        <div id="memberinfo">
                            <span>{{admin.username}}</span>
                            <span>{{admin.status.name}}</span>
                        </div>

                        <div id="memberlinks">
                            <a href="http://"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="http://"><i class="fa-brands fa-instagram"></i></a>
                            <a href="http://"><i class="fa-brands fa-x-twitter"></i></a>
                            <a href="http://"><i class="fa-brands fa-linkedin-in"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
       
        <section class="member-section">
            <h1>DEVELOPERS</h1>

            <div id="membercontainer">
                {% for dev in devs %}
                    <div id="member">
                        <img src="{{dev.profile_img.url}}" alt="" srcset="">

                        <div id="memberinfo">
                            <span>{{dev.username}}</span>
                            <span>{{dev.status.name}}</span>
                        </div>

                        <div id="memberlinks">
                            <a href="http://"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="http://"><i class="fa-brands fa-instagram"></i></a>
                            <a href="http://"><i class="fa-brands fa-x-twitter"></i></a>
                            <a href="http://"><i class="fa-brands fa-linkedin-in"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
      </div>


   </section>
</section>

    
<!-- pagefooter -->
{% include '../../footer.html' %}  

    <script src="{% static '/javascripts/userpagejs/generalscript.js' %}"></script>
    <script src="{% static '/javascripts/userpagejs/' %}"></script>
{% endblock %}