
{% extends 'base.html' %} {% load static %} {% block css %}
   <link rel="stylesheet" href="{% static 'stylesheets/adminpagestyles/teaminfo.css' %}" />
   <link rel="stylesheet" href="{% static 'stylesheets/userpagestyles/generalstyle.css' %}" />
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script src="https://kit.fontawesome.com/20d7e3a79f.js" crossorigin="anonymous"></script>
   {% endblock css %}{% block nav_content %}{% endblock nav_content %} {% block content %}
   
   <!--  pageheader -->
   {% include '../adminNav/adminNav.html'%}


   <!-- pagecontent -->
<section class="content-wrapper">
   <section class="maincontentsection">

      <!-- Menu  -->
      {% include '../adminNav/adminSideBar.html'%}

     

      <!-- Team Content -->
      <div class="teamholder">
        <section class="member-section">
            <h1>MANAGERS & INVESTORS</h1>

            <div id="membercontainer">
                <div id="member">
                    <img src="{% static '/assets/images/M ref.png' %}" alt="" srcset="">

                    <div id="memberinfo">
                        <span>Mr. xxxxxxx</span>
                        <span>Project Manager</span>
                    </div>

                    <div id="memberlinks">
                        <a href="http://"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="http://"><i class="fa-brands fa-instagram"></i></a>
                        <a href="http://"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="http://"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>

                <div id="member">
                    <img src="{% static '/assets/images/F ref.png' %}" alt="" srcset="">

                    <div id="memberinfo">
                        <span>Mrs. xxxxxxx</span>
                        <span>Project Manager</span>
                    </div>

                    <div id="memberlinks">
                        <a href="http://"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="http://"><i class="fa-brands fa-instagram"></i></a>
                        <a href="http://"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="http://"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>

                <div id="member">
                    <img src="{% static '/assets/images/M ref.png' %}" alt="" srcset="">

                    <div id="memberinfo">
                        <span>Mr. xxxxxxx</span>
                        <span>Investor</span>
                    </div>

                    <div id="memberlinks">
                        <a href="http://"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="http://"><i class="fa-brands fa-instagram"></i></a>
                        <a href="http://"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="http://"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </section>
       
        <section class="member-section">
            <h1>DEVELOPERS</h1>

            <div id="membercontainer">
                <div id="member">
                    <img src="{% static '/assets/images/M ref.png' %}" alt="" srcset="">

                    <div id="memberinfo">
                        <span>Mr. xxxxxxx</span>
                        <span>Frontend Developer</span>
                    </div>

                    <div id="memberlinks">
                        <a href="http://"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="http://"><i class="fa-brands fa-instagram"></i></a>
                        <a href="http://"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="http://"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>

                <div id="member">
                    <img src="{% static '/assets/images/F ref.png' %}" alt="" srcset="">

                    <div id="memberinfo">
                        <span>Mrs. xxxxxxx</span>
                        <span>Frontend Developer</span>
                    </div>

                    <div id="memberlinks">
                        <a href="http://"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="http://"><i class="fa-brands fa-instagram"></i></a>
                        <a href="http://"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="http://"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>

                <div id="member">
                    <img src="{% static '/assets/images/M ref.png' %}" alt="" srcset="">

                    <div id="memberinfo">
                        <span>Mr. xxxxxxx</span>
                        <span>Backend Developer</span>
                    </div>

                    <div id="memberlinks">
                        <a href="http://"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="http://"><i class="fa-brands fa-instagram"></i></a>
                        <a href="http://"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="http://"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </section>
      </div>


   </section>
</section>

    
<!-- pagefooter -->
{% include '../../footer.html' %}  

    <script src="{% static '/javascripts/userpagejs/generalscript.js' %}"></script>
    <script src="{% static '/javascripts/userpagejs/' %}"></script>
{% endblock %}