<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Quizz App</title>
   <link rel="stylesheet" href="../../../stylesheets/auxilliarypagestyles/quizpage.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body data-theme="light">
    
    <!--  pageheader -->
    <header>
      <div class="headersection">
         <section id="sitename">
           <img src="../../../assets/images/Uptorps.png" alt="">
         </section>
         <section id="actionbuttons">
            <span id="mode-toggle" class="material-symbols-rounded">light_mode</span>
            <button id="notification-toggle"><span class="material-symbols-rounded">notifications</span>Notification</button>
            <button id="forum-toggle"><span class="material-symbols-rounded">forum</span>Forum</button>
         </section>
      </div>
            <hr/>
      <div class="headersection">
         <section id="navlinks">
            <div>
               <li id="togglemenubar"><i class="material-symbols-rounded">menu</i>Menu</li>
               <a href="/sitepages/featurespage/"><li><i class="material-symbols-rounded">featured_play_list</i>Features</li></a>
               <a href="/sitepages/aboutpage/"><li><i class="material-symbols-rounded">info</i>About Us</li></a>
            </div>
         </section>
      </div>
   </header>


   <!-- pagecontent -->
<section class="content-wrapper">
   <section class="maincontentsection">

      <!-- Menu  -->
      {% include '../../sidebar.html' %}

       <!-- Notifications -->
      <div class="notificationscontainer">
         <h1>Notifications</h1>
      
         <div class="noteholder">
             <div class="note">
                  <h1><i class="material-symbols-rounded">description</i> Site Blog</h1>
                  <div class="notemessage">
                     <span>
                        Your notifications will appear here
                        Your notifications will appear here
                        Your notifications will appear here
                     </span>
                     <a href="">Visit Blog</a>
                  </div>
             </div>
      
             <div class="note">
               <h1><i class="material-symbols-rounded">paid</i> Transaction</h1>
               <div class="notemessage">
                  <span>
                     Your notifications will appear here
                     Your notifications will appear here
                     Your notifications will appear here
                  </span>
                  <a href="">Visit Transaction</a>
               </div>
          </div>
      
          <div class="note">
            <h1><i class="material-symbols-rounded">group</i> Referral</h1>
            <div class="notemessage">
               <span>
                  Your notifications will appear here
                  Your notifications will appear here
                  Your notifications will appear here
               </span>
               <a href="">Visit Referrals</a>
            </div>
          </div>
      
          <div class="note">
            <h1><i class="material-symbols-rounded">trophy</i> Achievement</h1>
            <div class="notemessage">
               <span>
                  Your notifications will appear here
                  Your notifications will appear here
                  Your notifications will appear here
               </span>
            </div>
          </div>
      
          <div class="note">
            <h1><i class="material-symbols-rounded">info</i> Notice</h1>
            <div class="notemessage">
               <span>
                  Your notifications will appear here
                  Your notifications will appear here
                  Your notifications will appear here
               </span>
            </div>
          </div>
      
         </div>
      </div>
      
   <!-- Forum & Discussions -->
   <div class="forumcontainer">
      <h1>Forum & Discussions</h1> 

     <div class="chatcontainer">
      <div class="chatsection">

         <div class="chat">
            <img src="../../../assets/images/stud.webp" alt="" srcset="">
             
              <article>
              <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                 Cum, doloremque.Illo ad quasi repellendus laborum.</span>  
               
                 <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
              </article>
         </div>
         <div class="chat">
            <img src="../../../assets/images/stud.webp" alt="" srcset="">
             
              <article>
              <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                 Cum, doloremque.Illo ad quasi repellendus laborum.</span>  
               
                 <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
              </article>
         </div>
         <div class="chat">
            <img src="../../../assets/images/stud.webp" alt="" srcset="">
             
              <article>
              <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                 Cum, doloremque.Illo ad quasi repellendus laborum.</span>  
               
                 <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
              </article>
         </div>
         
         
         <div class="challenge">
            <img src="../../../assets/images/stud.webp" alt="" srcset="">
            
            <article>
               <span>
                  Please join my challenge and stand the chance of winning the prize money
                 </span> 
                 
                 <a id="challengelink" href="#">Join Challenge</a>
                 
                 <span id="chattime"><i class="material-symbols-rounded">schedule</i>20 mins ago</span>
              </article>
           </div>
           
           <div class="chat">
              <img src="../../../assets/images/stud.webp" alt="" srcset="">
               
                <article>
                <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                   Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                   Cum, doloremque.Illo ad quasi repellendus laborum.Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                   Rem nulla corporis, illum alias minus architecto laudantium iste expedita accusantium odio quidem, in odit.
                   Cum, doloremque.Illo ad quasi repellendus laborum.</span>  
                 
                   <span id="chattime"><i class="material-symbols-rounded">schedule</i>8 mins ago</span>
                </article>
           </div>
        </div>

      <div class="composesection">
           <section id="composemessage">
              <div id="togglechallenge"><i class="material-symbols-rounded">trophy</i></div>
              <div><textarea name="" id="" placeholder="Type Your Message"></textarea></div>
              <div><i class="material-symbols-rounded">send</i></div>
           </section>

           <section id="composechallenge">
               <input type="text" placeholder="Paste the challenge link here">
               <div>
               <button><i class="material-symbols-rounded">send</i> Post Challenge</button>
               <button id="cancelchallenge"><i class="material-symbols-rounded">delete</i> Cancel</button>
              </div>
           </section>
      </div>

     </div>
  </div> 
  
    <!-- Quiz Section -->
     <div class="quizcomponentholder">
         <section class="progresssection">
            
            <section class="circular-progress">
               <div class="progress-ring">
                 <svg>
                   <circle cx="0" cy="0" r="100"/>
                 </svg>

                   <div class="progress-countdown">
                        <span id="timericon" class="material-symbols-rounded">timer</span>
                        <span id="progress-text">00:00</span>
                   </div>
               </div>
            </section>
             

            <div class="questionprogress">
               <h1>Question Progress</h1>

               <div id="questiontabs">
                  <span class="qnumb active">1</span>
                  <span class="qnumb active">2</span>
                  <span class="qnumb active">3</span>
                  <span class="qnumb active">4</span>
                  <span class="qnumb inactive">5</span>
                  <span class="qnumb inactive">6</span>
                  <span class="qnumb inactive">7</span>
                  <span class="qnumb">8</span>
                  <span class="qnumb">9</span>
                  <span class="qnumb">10</span>
                  <span class="qnumb">11</span>
                  <span class="qnumb">12</span>
                  <span class="qnumb">13</span>
                  <span class="qnumb">14</span>
                  <span class="qnumb">15</span>
                  <span class="qnumb">16</span>
                  <span class="qnumb">17</span>
                  <span class="qnumb">18</span>
               </div>
            </div>
         </section>

         <section class="quizcontrol">
               <div id="quizdetails">
                  <article>
                     <h1>Course</h1>
                     <span>English</span>
                  </article>
                  
                  <article>
                     <h1>Focus</h1>
                     <span>Parts Of Speech</span>
                  </article>

                  <article>
                     <h1>Questions</h1>
                     <span>50</span>
                  </article>
                  
                  <article>
                     <h1>Time</h1>
                     <span>50 min</span>
                  </article>
                  
                  <article>
                     <h1>Difficulty</h1>
                     <span>Easy</span>
                  </article>
               </div>

               <div id="quiznumber">
                  <span>Progress: 5/50</span>
                  <span>Outstanding: 45</span>
                  <span>Flow Type: Continious</span>
               </div>

               <div id="quizquestion">
                  <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, labore amet deserunt dignissimos iure molestiae! Quam, mollitia! Ad natus odio voluptatum earum,
                      ratione ex necessitatibus consectetur est totam sint eaque?</h1>

                  <div id="lifelineshead"><span class="material-symbols-rounded">vital_signs</span>Available Lifelines</div>
                  
                  <section id="lifelines">
                     <span>Limit Options</span>
                     <span>Get a Pass</span>
                  </section>
               </div>

               <div id="quizanswers">
                     <section id="answersholder">
                         <div class="option active"><span>A</span>Lorem, ipsum.</div>
                         <div class="option"><span>B</span>Lorem, ipsum dolor.</div>
                         <div class="option"><span>C</span>Lorem ipsum dolor sit.</div>
                         <div class="option"><span>D</span>Lorem, ipsum dolor dolor.</div>
                         <div class="option"><span>E</span>Lorem, ipsum dolor ipsum.</div>
                     </section>
               </div>

               <div id="questioncontrols">
                  <button><span class="material-symbols-rounded">keyboard_double_arrow_left</span>Previous</button>
                  <button>Next<span class="material-symbols-rounded">keyboard_double_arrow_right</span></button> 
               </div>
         </section>
     </div>

   </section>
</section>


<!-- LogOut Popup -->
<section class="logoutpopup">
   <section id="logoutholder">
      <span>LogOut</span>
      <span>Do You Really Want to Log Out ?</span>
      <div>
         <button id="confirmlogoutbtn">Confirm</button>
         <button id="cancellogoutbtn">Cancel</button>
      </div>
   </section>
</section>

<!-- pagefooter -->
{% include '../../footer.html' %}
   
   <script src="../../../javascripts/userpagejs/generalscript.js"></script>
   <script src="../../../javascripts/auxilliarypagejs/quizpage.js"></script>
</body>
</html>