{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'stylesheets/userpagestyles/landingpage.css' %}" />
<link rel="stylesheet" href="{% static 'stylesheets/userpagestyles/aboutpage.css' %}" />
{% endblock css %} {% block content %}
<!--  pageheader -->
{% include 'sitepages/navbar/index.html' %}
<!-- about us main -->
<section class="container">
  <div class="overviewinfo">
    <h2 class="title">Learn more about what we do</h2>
    <div class="details">
      <p>
        We deliver as promised, giving all the best courses and as we give you the <br />
        opportunity to learn.
      </p>
      <a href="../loginpage/index.html" class="signin">Join us</a>
      <a href="../loginpage/index.html" class="learn">Learn</a>
    </div>
  </div>
</section>

section.

<script src="{% static 'javascripts/ultimatejs/generalscript.js' %}"></script>
<script src="{% static 'javascripts/ultimatejs/landingpage.js' %}"></script>
{% endblock content %}
