{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'stylesheets/loginpage.css' %}" />

<!-- Responsive rule to login page-->
<style>
  @media (max-width: 768px) {

.logincontainer #title span{
   display: none;
}

.logincontainer  #loginsection div.actionBtn{
   display: flex;
   flex-direction: column;
   gap: .8rem;
}
}

</style>
{% endblock css %}{% block nav_content %}{% endblock nav_content %} {% block content %}
<section class="logincontainer">
  <div id="title">
    <span>QUIZ APP AUTHENTICATION</span>
  </div>
<input type="hidden" id="activated" value="{{alert}}">
  <form action="" method="post" class="showlogin">
    {% csrf_token %}
    {% for message in message %}
<div class="message {{message.tags}}" style="display: none;">{{message}}</div>
{% endfor %}
    <section id="loginsection">
      <div>
        <span>LOGIN</span>
      </div>

      <div class="emailyard">
        <input type="text" name="em" class="un" required />
        <p>Enter Your Username</p>
      </div>

      <div class="passwordyard">
        <input id="password" type="password" class="ps" required />
        <p>Enter Your Password</p>
        <span id="showpassword" class="material-symbols-rounded">visibility_off</span>
      </div>

      <div class="options-select">
        <div id="rememberme">
          <check class="togglelogin">
            <toggle></toggle>
          </check>
          <span>Keep Me Signed In</span>
        </div>

        <div id="toogleresetsection">
          <span>Forgot Password</span>
          <span id="icon" class="material-symbols-rounded">help</span>
        </div>
      </div>

      <div>
        <button id="loginuser" type="button">Login</button>
        <a href="{% url 'register' %}"><button type="button">Create Account</button></a>
      </div>
    </section>

    <section id="resetsection">
      <div>
        <span>PASSWORD RESET</span>
      </div>

      <div class="emailyard">
        <input type="text" name="email" id="ps-reset" required />
        <p>Enter Your Email</p>
      </div>

      <div>
        <button id="resetemailconfirm" type="button">Confirm Email</button>
        <button id="toogleloginsection" type="button">Cancel Reset</button>
      </div>
    </section>

    <section id="resetverifysection">
      <div>
        <span>RESET LINK SENT</span>
      </div>

      <div>
        <i>Click Below After Password Reset</i>
      </div>

      <div>
        <button id="toogleloginsection2" type="button">Return To Login</button>
      </div>
    </section>
  </form>

  <div class="copyright">
    <span> © Copyright 2024</span>
    <span>Quizz App</span>
    <span>All Rights Reserved</span>
  </div>
</section>

<script src="{% static 'javascripts/ultimatejs/generalscript.js' %}"></script>
<script src="{% static 'javascripts/authenticationjs/loginpage.js' %}"></script>
{% endblock content %}
